<h2>
<%= @game.current_player.name%> attacked <%= @game.current_victim.name %>
</h2>

<h3>
<%= @game.current_victim.name %>: <%= @game.current_victim.hit_points %> HP
</h3>

<br>

<% if @game.game_over? %>
  <h3>Game Over <%= @game.current_victim.name %>!!!</h3>
<% else %>
  <form action ="/switch_turns" method="post">
    <input type="submit" value="OK">
  </form>
<% end %>
